*{
  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card_container{
  background-color: hwb(240 90% 5% / 0.767);
  max-width: 1400px;
}
@media screen and (max-width:390px) {
  .card_container {
    width: 434px;
  }


}
